<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myemp">

	<select id="empCount" resultType="int">
	select count(*) from myemp 
	</select>
	
	<!--paging  -->                                 <!--PAGING이란 원하는 데이터만 뽑아오는 것   -->
	<select id="salPaging" resultType="EmpDTO">
	select * from myemp
	order by sal
	</select>

</mapper>